body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #3E3E3E;
}
/* ==== Common CSS ==== */
h1{
  font-size: 60px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 24px;
}
.flex-content{
  display: flex;
  margin-bottom: 100px;
}
.container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.half-width{
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}
.one-third{
  width: 33%;
}
.two-third{
  width: 67%;
}
.common-btn {
  display: inline-block;
  text-decoration: none;
  background: #2ecc71;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 1s;
}
.common-btn:hover{
  background-color: #e74c3c;
}
/* ==== Focus Area CSS ==== */
.focus-content{
  padding-top: 80px;
}
.focus-heading {
  border-left: 5px solid #2ecc71;
  color: #333333;
  padding-left: 20px;
  line-height: 30px;
}
.focus-content .focus-heading {
  font-family: 'Yeseva One', cursive;
}
.focus-heading-mission {
  color: #2ecc71;
}
.focus-img img {
  max-width: 70%;
}

/* ==== Mission Area CSS ==== */
.mission-area h2{
  color: #13103A;
  text-align: center;
}
.mission-area h2 span{
  color: #2ecc71;
}
.mission-area .mission-content {
  background: #EDF5F6;
  padding: 20px 30px;
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.mission-area .vission {
  background: #FFEEEE;
}
.mission-content .goals {
  background: #FFF4D6;
}
.mission-area .mission-content img {
  max-width: 60%;
}
.mission-area .mission-content h4{
  margin-bottom: -5px;
}


/* === Develop Area CSS === */
.develop-area .develop-img img {
  max-width: 100%;
  margin-right: 10px;
}
.develop-content {
  padding-left: 70px;
  padding-top: 30px;
}

/* === Communinty Area CSS === */
.communinty-area .communinty-img img {
  max-width: 100%;
  margin-right: 10px;
}
.community-content {
  padding-right: 70px;
  padding-top: 30px;
}




/* === Services Area CSS === */
.services-area h2 {
  text-align: center;
}
.services-area h2 span {
  color: #2ecc71;
}
.service-item {
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 2px 2px 40px #444;
  text-align: justify;
  margin: 0 15px;
}
.service-item h3 {
  text-align: center;
}
/* === Footer Area CSS === */
.footer {
  text-align: center;
  padding: 60px 0;
  background-color: #000;
  color: #fff;
}
.footer h3{
  font-family: 'Lobster', cursive;
  letter-spacing: 1.5px;
  color: #fff;
}
.footer h3 span{
  color: #2ecc71;
}
